<div class="container" ng-controller="BookingController as bookingCtrl">

    <h1 class="mt-4 mb-3">Get tickets
        <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
        <li class="breadcrumb-item active">Get tickets</li>
        <li class="breadcrumb-item">Choose seat</li>
        <li class="breadcrumb-item">Confirm & Pay</li>
    </ol>

    <div class="row">
        <div class="row col-lg-8">
            <div class="col-md-4">
            <h4>Find your local cinema</h4>
            <div class="">
                <select id="getCinema" class="" ng-model="bookingCtrl.cinema">
                    <option selected value="">Choose a cinema</option>
                    <option value="Manchester">Manchester</option>
                    <option value="Sheffield">Sheffield</option>
                    <option value="London">London</option>
                </select>
            </div>
        </div>
            <div class="col-md-8">
                <h4>Choose a screening</h4>
                <div class="row">
                    <div ng-repeat="screening in bookingCtrl.screenings | filter : bookingCtrl.cinema | orderBy : bookingCtrl.screenings.time">
                        <button ng-click="bookingCtrl.choose(screening)">{{screening.time}}</button>
                    </div>
                </div>
                <div ng-show="bookingCtrl.error" id="error_message">
                    <p class="text-danger">Error {{bookingCtrl.errorStatus}}: error when processing your request. Please try again later</p>
                </div>
            </div>
            <div class="col-lg-12">
                <h4>Choose your tickets</h4>
                <form ng-submit="bookingCtrl.submitTicketDetails()">
                    <table id="tickets-table" class="table">
                        <thead>
                        <tr>
                            <th class="">Ticket</th>
                            <th class="">Price</th>
                            <th class="">Quantity</th>
                            <th class="">Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="">
                            <td class=""><strong>Adult</strong></td>
                            <td id="" class="">{{bookingCtrl.ticketPriceAdult | currency : "£"}}</td>
                            <td class="">
                                <div class="">
                                    <select id="numAdults" class="" ng-model="bookingCtrl.numAdults">
                                        <option selected value="">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </td>
                            <td id="" class="">{{bookingCtrl.numAdults * bookingCtrl.ticketPriceAdult||0 | currency : "£"}}</td>
                        </tr>
                        <tr class="">
                            <td class=""><strong>Concession</strong> <div><i> Children (under 16), students, and seniors</i></div></td>
                            <td id="" class="">{{bookingCtrl.ticketPriceConcession | currency : "£"}}</td>
                            <td class="">
                                <div class="">
                                    <select id="numConcessions" class="" ng-model="bookingCtrl.numConcessions">
                                        <option selected value="">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </td>
                            <td id="" class="">{{bookingCtrl.numConcessions * bookingCtrl.ticketPriceConcession||0 | currency : "£"}}</td>
                        </tr>
                        <tr id="" class="">
                            <td class="" colspan="3">Order value:</td>
                            <td class="">{{bookingCtrl.numConcessions * bookingCtrl.ticketPriceConcession + bookingCtrl.numAdults * bookingCtrl.ticketPriceAdult||0 | currency : "£"}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="inner">
                        <button name="submit" type="submit" class="btn-primary">Confirm tickets</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <h4>You are going to see:</h4>
            <div class="">
                <div class="">
                    <span class="text-info">{{bookingCtrl.movie.title}}</span>
                </div>
                <div class="">
                    <img ng-src="{{bookingCtrl.movie.poster}}" alt="poster">
                </div>
                <div class="">
                    <label>Age Rating:</label>
                    <div class="">
                        <img ng-src="assets/img/ratings/{{bookingCtrl.movie.rating}}.jpg" alt="rating">
                    </div>
                </div>
                <div class="">
                    <label>Duration:</label>
                    <div class="">
                        <span class="text-info">{{bookingCtrl.movie.length + " mins"}}</span>
                    </div>
                </div>
                <div class="">
                    <label>At:</label>
                    <div class="">
                        <span class="text-info">{{bookingCtrl.cinema}}</span>
                        <span class="text-info">{{"Screen " + bookingCtrl.screen}}</span>
                    </div>
                </div>
                <div class="">
                    <label>On:</label>
                    <div class="">
                        <span class="date text-info">{{bookingCtrl.screeningDate}}</span>
                    </div>
                </div>
                <div class="">
                    <label>Starting at:</label>
                    <div class="">
                        <span class="text-info">{{bookingCtrl.screeningTime}}</span>
                    </div>
                </div>
                <a ui-sref="movielist">Choose a different movie</a>
            </div>
        </div>
    </div>
</div>
