<div ng-controller="RegisterController as registerCtrl">
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Register
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a ui-sref="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Register</li>
    </ol>

    <div class="col-md-6">
      <h4><i class="icon-envelope"></i><strong>Register</strong></h4>
      <p>
        New? Sign up with us now!
      </p>
      <!-- START registration form -->
      <div class="cform" id="registerform">
        <form action="" method="post" role="form" class="contactForm" id="register" ng-submit="registerCtrl.registerNew(newUser)">
          <div class="form-group">
            <input name="name" class="form-control" id="registername" placeholder="Username" ng-blur="registerCtrl.validUsername" ng-model="newUser.name" required/>
            <div class="validation" ng-show="takenUsername">
              <p class="text-danger">Username already taken, please choose another</p>
            </div>
            <div class="validation" ng-show="invalidUsername">
              <p class="text-danger">Username must be at least 4 characters long  including at least one lowercase letter</p>
            </div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="registeremail" placeholder="Your Email" ng-blur="registerCtrl.validEmail" ng-model="newUser.email" required/>
            <div class="validation" ng-show="takenEmail">
              <p class="text-danger">Email is already used by another account</p>
            </div>
            <div class="validation" ng-show="invalidEmail">
              <p class="text-danger">Email is invalid</p>
            </div>
          </div>
          <div class="form-group" ng-show="false">
            <input type="text" name="honeypot" class="form-control" id="honeypot" ng-model="newUser.honeypot">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" id="registerpassword" placeholder="Password" ng-blur="registerCtrl.validatePasswordFormat" ng-model="newUser.password" required/>
            <div class="validation" ng-show="invalidPasswordFormat">
              <p class="text-danger">Password must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 or more characters</p>
            </div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" ng-blur="registerCtrl.validateConfirmPassword" ng-model="newUser.confirmPassword" required/>
            <div class="validation" ng-show="validPasswordFormat">
              <p class="text-danger">Password must contain at least one number, one uppercase letter, one lowercase letter, and at least 8 or more characters</p>
            </div>
            <div class="validation" ng-show="passwordConfirmed">
              <p class="text-danger">Passwords do not match</p>
            </div>
          </div>
          <div class="text-center"><button class="btn btn-lg btn-theme">Create user</button></div>
        </form>
        <div ng-show="registerCtrl.error" id="error_message">
          <p class="text-danger">Error {{registerCtrl.errorStatus}}: error when processing your request. Please try again later</p>
        </div>
      </div>
      <!-- END registration form -->

    <p>
      <a href=""></a></p>

  </div>
  <!-- /.container -->
  </div>
</div>
