<div class="container" ng-controller="SeatsController as seatCtrl">

  <h1 class="mt-4 mb-3">Choose your seat
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="home">Home</a></li>
    <li class="breadcrumb-item"><a ui-sref="booking">Get tickets</a></li>
    <li class="breadcrumb-item active">Choose seat</li>
    <li class="breadcrumb-item">Confirm & Pay</li>
  </ol>

    <div class="row">
        <div class="col-lg-8" ng-repeat="seat in seatsCtrl.cinemaseats">
            <select id="chooseSeat" class="" ng-model="seatCtrl.seat">
                <option selected value="">{{seat}}</option>
                <option value="{{seat}}">{{seat}}</option>
            </select>
        </div>
        <div>
            <button class="btn-primary" ui-sref="payment">Confirm your tickets</button>
        </div>
    </div>

    <div ng-show="seatCtrl.error" id="error_message">
        <div id="overlayMessage" ng-style="seatCtrl.overlay">
            <p class="text-danger">There was a {{seatCtrl.errorStatus}} error while processing your request. Please try again later</p>
            <button class="btn btn-primary" ui-sref="home">Return to homepage</button>
        </div>
    </div>

</div>