#listMoviePoster {
    margin-left: 50px;
}

#searchMoviePoster {
    margin-left: 150px;
}

.card-text {
    text-align: center;

}

.img-fluid {
    margin-top: 30px;
    margin-right: 45px;
    margin-left: 45px;

}
