<div ng-controller="HomeController as ctrl">
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('{{ctrl.Src1}}')" ng-model="movieName"
                     ng-click="ctrl.moreInfo(ctrl.slideShowMovie1)">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{ctrl.slideShowMovie1}}</h3>
                        <p>{{ctrl.movieTagline1}}</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{{ctrl.Src2}}')" ng-model="movieName"
                     ng-click="ctrl.moreInfo(ctrl.slideShowMovie2)">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{ctrl.slideShowMovie2}}</h3>
                        <p>{{ctrl.movieTagline2}}</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{{ctrl.Src3}}')" ng-model="movieName"
                     ng-click="ctrl.moreInfo(ctrl.slideShowMovie3)">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>{{ctrl.slideShowMovie3}}</h3>
                        <p>{{ctrl.movieTagline3}}</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Now Showing</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Manchester</h4>
                    <div class="card-body">
                        <p class="card-text">
                        <table style="width:100%">
                            <tr>
                                <th>Film Title</th>
                                <th>Time</th>
                                <th>Age</th>
                            </tr>
                            <tr>
                                <td>Baby Driver</td>
                                <td>15:00</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Kingsman: Golden Circle</td>
                                <td>17:00</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Justice Laugue</td>
                                <td>21:00</td>
                                <td>15</td>
                            </tr>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Sheffield</h4>
                    <div class="card-body">
                        <p class="card-text" src=>
                        <table style="width:100%">
                            <tr>
                                <th>Film Title</th>
                                <th>Time</th>
                                <th>Age</th>
                            </tr>
                            <tr>
                                <td>Blade Runner</td>
                                <td>12:00</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Kingsman: Golden Circle</td>
                                <td>16:00</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Justice Laugue</td>
                                <td>20:00</td>
                                <td>15</td>
                            </tr>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">London</h4>
                    <div class="card-body">
                        <p class="card-text">
                        <table style="width:100%">
                            <tr>
                                <th>Film Title</th>
                                <th>Time</th>
                                <th>Age</th>
                            </tr>
                            <tr>
                                <td>Baby Driver</td>
                                <td>15:00</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Kingsman: Golden Circle</td>
                                <td>16:00</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>The Lego Ninjago Movie</td>
                                <td>21:00</td>
                                <td>15</td>
                            </tr>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        ​
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2>Latest Films</h2>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.galleryFilm1)">
                        <img class="card-img-top" src="{{ctrl.GF1}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.galleryFilm2)">
                        <img class="card-img-top" src="{{ctrl.GF2}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.galleryFilm3)">
                        <img class="card-img-top" src="{{ctrl.GF3}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.galleryFilm4)">
                        <img class="card-img-top" src="{{ctrl.GF4}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.galleryFilm5)">
                        <img class="card-img-top" src="{{ctrl.GF5}}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.galleryFilm6)">
                        <img class="card-img-top" src="{{ctrl.GF6}}" alt="">
                    </a>
                </div>
            </div>
            <!-- /.row -->

            <!-- Features Section -->
            <div class="row">
                <div>
                    <h2>Coming Soon</h2>

                    <div id="overlay" onclick="off()">
                        <div id="youtbeVideo">
                            <iframe width="560" height="315" src="{{ctrl.comingSoonFilm1YoutubeKey}}"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>


                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-md-7">
                            <a>
                                <img class="img-fluid rounded mb-3 mb-md-0" src={{ctrl.comingSoonFilmPoster1}} alt="">
                            </a>
                        </div>
                        <div class="col-md-5" style="left: 40px;">
                            <h4>{{ctrl.comingSoonFilm1}}</h4>
                            <p>{{ctrl.comingSoonFilmDescription1}}</p>
                            <a>
                                <button class="button" style="vertical-align:middle" onclick="on()">
                                    <span>Watch Trailer</span></button>
                            </a>
                            <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.comingSoonFilm1)">
                                <button class="button" style="vertical-align:middle">
                                    <span>More Info</span></button>
                            </a>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-md-7">
                            <a>
                                <img class="img-fluid rounded mb-3 mb-md-0" src={{ctrl.comingSoonFilmPoster2}} alt="">
                            </a>
                        </div>
                        <div class="col-md-5" style="left: 40px;">
                            <h4>{{ctrl.comingSoonFilm2}}</h4>
                            <p>{{ctrl.comingSoonFilmDescription2}}</p>
                            <a>
                                <button class="button" style="vertical-align:middle" onclick="on()">
                                    <span>Watch Trailer</span></button>
                            </a>
                            <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.comingSoonFilm2)">
                                <button class="button" style="vertical-align:middle">
                                    <span>More Info</span></button>
                            </a>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-md-7">
                            <a>
                                <img class="img-fluid rounded mb-3 mb-md-0" src={{ctrl.comingSoonFilmPoster3}} alt="">
                            </a>
                        </div>
                        <div class="col-md-5" style="left: 40px;">
                            <h4>{{ctrl.comingSoonFilm3}}</h4>
                            <p>{{ctrl.comingSoonFilmDescription3}}</p>
                            <a>
                                <button class="button" style="vertical-align:middle" onclick="on()">
                                    <span>Watch Trailer</span></button>
                            </a>
                            <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.comingSoonFilm3)">
                                <button class="button" style="vertical-align:middle">
                                    <span>More Info</span></button>
                            </a>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-md-7">
                            <a>
                                <img class="img-fluid rounded mb-3 mb-md-0" src={{ctrl.comingSoonFilmPoster4}} alt="">
                            </a>
                        </div>
                        <div class="col-md-5" style="left: 40px;">
                            <h4>{{ctrl.comingSoonFilm4}}</h4>
                            <p>{{ctrl.comingSoonFilmDescription4}}</p>
                            <a>
                                <button class="button" style="vertical-align:middle" onclick="on()">
                                    <span>Watch Trailer</span></button>
                            </a>
                            <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.comingSoonFilm4)">
                                <button class="button" style="vertical-align:middle">
                                    <span>More Info</span></button>
                            </a>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 50px;">
                        <div class="col-md-7">
                            <a>
                                <img class="img-fluid rounded mb-3 mb-md-0" src={{ctrl.comingSoonFilmPoster5}} alt="">
                            </a>
                        </div>
                        <div class="col-md-5" style="left: 40px;">
                            <h4>{{ctrl.comingSoonFilm5}}</h4>
                            <p>{{ctrl.comingSoonFilmDescription5}}</p>
                            <a>
                                <button class="button" style="vertical-align:middle" onclick="on()">
                                    <span>Watch Trailer</span></button>
                            </a>
                            <a ng-model="movieName" ng-click="ctrl.moreInfo(ctrl.comingSoonFilm5)">
                                <button class="button" style="vertical-align:middle">
                                    <span>More Info</span></button>
                            </a>
                        </div>
                    </div>

                    <!--<ul>
                        <li>{{ctrl.comingSoonFilm1}}</li>
                        <li>{{ctrl.comingSoonFilm2}}</li>
                        <li>{{ctrl.comingSoonFilm3}}</li>
                        <li>{{ctrl.comingSoonFilm4}}</li>
                        <li>{{ctrl.comingSoonFilm5}}</li>
                    </ul>-->

                    <p></p>
                </div>
            </div>
            <!-- /.row -->

            <hr>

        </div>
        <!-- /.container -->
    </div>